main {
  min-height: 80vh;
}

.faq {
  background-color: black !important;
}

.faqb {
  font-size: xx-large !important;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

.nav-brand img {
  width: 8rem;
}

.homepage-headings {
  text-align: center;
  text-transform: uppercase;
}

.bundle-category {
  text-align: center;
}

.product-img {
  width: 80px;
  border-radius: 50%;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #000;
}

.carousel img {
  max-height: 300px;
  padding: 4rem;
  margin: 3rem;
  border-radius: 50%;
}

.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.or {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}

.or:after,
.or:before {
  content: '';
  display: block;
  background: rgb(190, 190, 190);
  width: 30%;
  height: 1px;
  margin: 0 10px;
}

.btn-search:hover {
  background-color: #78c2ad;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
.btn-search:active {
  background-color: #78c2ad !important;
  box-shadow: 0 0 0 0.3rem rgb(255, 255, 255, 0.5) !important;
}

.btn-google:hover {
  background-color: #c32413 !important;
}

.btn-facebook:hover {
  background-color: #1e4db4 !important;
}

.dropdown-item:hover {
  background-color: #78c2ad !important;
}
.map{width:81vw;height: 50vh;position: relative;margin: 0 auto;}
.location-icon{
  font-size: 1.5rem;
}
.location-info{
  position:absolute;
  left: 1vw;
  bottom: 12vh;
  width:35%;
  padding: 1rem;
  min-height: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 1rem;
  color: #fff;
  z-index: 10000;
}
.location-info ul{
  list-style-type: none;
  padding:  0;
}
.location-info h2{
  color: #fff;

}
.location-info li{
  list-style-type: none;
  padding: 5px 0;
}